/* Apply styles to the navigation bar */
.nav-bar {
    background-color: #e74c3c; /* Red color */
    padding: 10px;
    text-align: center;
}

.nav-bar a {
    text-decoration: none;
    color: #fff; /* White color */
    margin: 0 10px;
}

/* Apply styles to the content */
.content {
    margin: 20px;
    text-align: center;
}

.content h1 {
    color: #c0392b; /* Darker red color */
}

.content p {
    color: #333;
}

.bold {
    font-weight: bold;
    color: #e74c3c; /* Red color */
}

/* Apply styles to the iframe */
.content iframe {
    margin-top: 20px;
}

/* Apply styles to the footer */
.footer {
    margin-top: 20px;
    text-align: center;
    background-color: #c0392b; /* Darker red color */
    color: #ecf0f1; /* Light gray color */
    padding: 10px;
}
